<template>
  <v-flex xs4>
    <v-card
      tile
      :height="height"
      class="pa-2"
    >
      <v-card-text class="px-0">Format</v-card-text>
      <v-flex xs12 sm12 d-flex>
        <v-flex sm8>
          <v-select
            solo
            :items="fonts"
            v-model="selectedFont"
          ></v-select>
        </v-flex>
        <v-flex sm4>
          <v-select
            solo
            :items="sizes"
            v-model="selectedSize"
          ></v-select>
        </v-flex>
      </v-flex>
      <v-flex xs12 sm6 class="py-2">
        <v-btn-toggle v-model="selectedFormatters" multiple>
          <v-btn
            flat
            v-for="(formatter, index) in textFormatters"
            :key="index"
          >
            <v-icon>{{ formatter.icon }}</v-icon>
          </v-btn>
        </v-btn-toggle>
      </v-flex>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    data () {
      return {
        height: 273,
        fonts: ['Font1', 'Font2', 'Font3', 'Font4'],
        selectedFont: 'Font1',
        sizes: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
        selectedSize: 12,
        textFormatters: [
          { icon: 'format_bold' },
          { icon: 'format_italic' },
          { icon: 'format_underlined' },
          { icon: 'format_align_left' },
          { icon: 'format_align_center' },
          { icon: 'format_align_right' },
          { icon: 'format_align_justify' },
        ],
        selectedFormatters: [0, 1, 2, 3, 4, 5, 6]
      }
    }
  }
</script>

<style scoped>
.v-card__text {
  padding-top: 2px;
  font-weight: bold;
}
</style>