<template>
  <v-flex xs4>
    <v-card
      tile
      :height="height"
      class="pa-2"
    >
      <v-card-text class="px-0">Color</v-card-text>
      <v-flex xs12 class="mb-5 mt-1">
        <v-btn-toggle v-model="selectedButtons" multiple>
          <v-btn
            flat
            v-for="(button, index) in buttons"
            :key="index"
          >
            <v-icon>{{ button.icon }}</v-icon>
          </v-btn>
        </v-btn-toggle>
      </v-flex>
      <v-flex xs12>
          <v-slider
            label="Opacity"
            v-model="opacity"
            hide-details
          />
      </v-flex>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    data () {
      return {
        selectedButtons: [0, 1],
        buttons: [
          { icon: 'format_color_fill' },
          { icon: 'mdi-pencil' }
        ],
        opacity: 55,
        height: 273
      }
    }
  }
</script>

<style scoped>
.v-card__text {
  padding-top: 2px;
  font-weight: bold;
}
</style>
