<template>
  <v-footer app inset :height="height">
    <v-layout column>
      <p class="nav-bottom-title">{{ title }}</p>
      <v-layout
        row
      >
        <app-toolbar-format/>
        <app-toolbar-transform/>
        <app-toolbar-color/>
        <app-toolbar-shadow/>
      </v-layout>
    </v-layout>
  </v-footer>
</template>

<script>
  import AppToolbarFormat from './AppToolbarFormat'
  import AppToolbarTransform from './AppToolbarTransform'
  import AppToolbarColor from './AppToolbarColor'
  import AppToolbarShadow from './AppToolbarShadow'

  export default {
    name: 'AppToolbar',
    components: {
      AppToolbarFormat,
      AppToolbarTransform,
      AppToolbarColor,
      AppToolbarShadow
    },
    data () {
      return {
        height: 'auto',
      }
    },
    computed: {
      title () {
        return "Text Properties"
      }
    } 
  }
</script>

<style scoped>
.nav-bottom-title {
  margin-bottom: 0px;
  padding: 8px;
  background-color: white;
  font-size: 18px;
}
</style>
