<template>
  <v-flex xs3>
    <v-card
      tile
      :height="'273'"
      class="pa-2"
    >
      <v-card-text class="px-0">Transform</v-card-text>
      <v-select
        solo
        :items="transforms"
        v-model="selectTransform"
      />
      <v-flex xs12 sm12 d-flex>
        <v-flex sm2>
          <v-icon class="mt-2 mr-2">
            mdi-format-strikethrough
          </v-icon>
        </v-flex>
        <v-flex sm4>
          <v-select
            :items="textSizes"
            v-model="selectSize"
            solo
          ></v-select>
        </v-flex>
        <v-flex sm2 class="mr-2">
          <v-icon class="mt-2 ml-2">
            mdi-format-line-spacing
          </v-icon>
        </v-flex>
        <v-flex sm4>
          <v-select
            solo
            :items="moveSizes"
            v-model="selectMove"
          />
        </v-flex>
      </v-flex>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    data () {
      return {
        transforms: ['DEFAULT', 'UPPERCASE', 'LOWERCASE'],
        selectTransform: 'UPPERCASE',
        textSizes: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
        selectSize: 12,
        moveSizes: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
        selectMove: 11,
      }
    }
  }
</script>

<style scoped>
.v-card__text {
  padding-top: 2px;
  font-weight: bold;
}
</style>