<template>
  <v-flex xs4 class="footer-shadow">
    <v-card
      tile
      :height="height"
      class="pa-2"
    >
      <v-card-text class="px-0">Shadow</v-card-text>
      <v-layout>
        <v-flex>
          <v-switch
            :label="labelShadow"
            class="mr-3"
            color="purple"
            v-model="isShadow"
          ></v-switch>
        </v-flex>
        <v-flex>
          <v-text-field label="Color" v-model="color"></v-text-field>
        </v-flex>
      </v-layout>
      <v-slider
        label="Offset"
        v-model="offset"
        class="mr-3"
      ></v-slider>
      <v-slider
        label="Blur"
        v-model="blur"
        class="mr-3"
      ></v-slider>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    data () {
      return {
        height: 273,
        isShadow: true,
        color: '#000000',
        offset: 45,
        blur: 15,
      }
    },
    computed: {
      labelShadow () {
        if (this.$vuetify.breakpoint.width < 1400) {
          return ""
        } else {
          return "Shadow"
        }
        return binding
      }
    },
    watch: {
      color: function (val) {
        if (val[0] == '#') {
          this.color = val
        } else {
          this.color = '#' + val
        }
      },
    }
  }
</script>

<style scoped>
  .v-input--slider {
    margin-top: 0px;
  }
  .v-card__text {
    padding-top: 2px;
    font-weight: bold;
  }
</style>
