<template>
  <div>
    <app-left-sidebar/>
    <v-content style="padding-bottom: 305px; height: 100vh;">
      <v-container app fluid fill-height style="padding: 0px">
        <v-layout justify-space-between column fill-height>
          <v-layout justify-space-between row fill-height>
            <v-layout justify-start align-start>
              <v-switch
                :label="isEdit ? 'Preview' : 'Edit'"
                class="ml-3"
                v-model="isEdit"
              ></v-switch>
            </v-layout>
            <v-layout justify-end align-start>
              <v-btn dark color="green">
                <v-icon left>mdi-code-tags</v-icon>
                GENERATE TAGS
              </v-btn>
            </v-layout>
          </v-layout>
          <v-layout justify-space-between row fill-height>
            <v-layout justify-start align-end>
              <v-flex xs4 class="text-xs-center">
                <v-speed-dial
                  v-model="fab"
                  bottom
                  left
                  :direction="'top'"
                  :transition="'slide-y-reverse-transition'"
                >
                  <v-btn color="error" fab dark slot="activator">
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                  <v-btn fab small>
                    <v-icon>mdi-star</v-icon>
                  </v-btn>
                  <v-btn fab small>
                    <v-icon>mdi-file-document-box-multiple-outline</v-icon>
                  </v-btn>
                  <v-btn fab small>
                    <v-icon>mdi-format-text</v-icon>
                  </v-btn>
                </v-speed-dial>
              </v-flex>
            </v-layout>
            <v-layout justify-end align-end>
              <v-flex xs4>
                <v-btn-toggle class="mb-3">
                  <v-btn flat>
                    <v-icon>mdi-undo</v-icon>
                  </v-btn>
                  <v-btn flat>
                    <v-icon>mdi-redo</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </v-flex>
            </v-layout>
            <v-layout justify-end align-end>
              <v-flex xs6 class="pr-4">
                <v-slider
                  v-model="volume"
                  append-icon="mdi-plus"
                  prepend-icon="mdi-minus"
                ></v-slider>
              </v-flex>
            </v-layout>
          </v-layout>
        </v-layout>
      </v-container>
    </v-content>
    <app-right-sidebar/>
    <app-toolbar/>
  </div>
</template>

<script>
  import AppLeftSidebar from './AppLeftSidebar'
  import AppRightSidebar from './AppRightSidebar'
  import AppToolbar from './AppToolbar/AppToolbar'

  export default {
    components: {
      'app-left-sidebar': AppLeftSidebar,
      'app-right-sidebar': AppRightSidebar,
      'app-toolbar': AppToolbar
    },
    data () {
      return {
        number: 55,
        isEdit: false,
        volume: 45,
        fab: 0
      }
    }
  }
</script>
