<template>
  <v-toolbar
    dark
    app
    clipped-right
    clipped-left
    class="elevation-0"
    :color="color">
    <v-toolbar-side-icon @click="changeDrawer"></v-toolbar-side-icon>
    <v-toolbar-title class="mt-2"><img src="../assets/vtb-logo.png" alt="" style="height: 40px;"></v-toolbar-title>
    <v-spacer/>
    <v-toolbar-title class="mr-5">{{ wallet }} Credits Remaining:</v-toolbar-title>
    <v-toolbar-title class="mr-3">Hello {{ name }}!</v-toolbar-title>
    <v-btn icon>
      <v-icon>settings</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script>
  import settings from '../appSettings'
  export default {
    data () {
      return {
        color: null
      }
    },
    created () {
      this.color = settings.mainColor
    },
    computed: {
      wallet () {
        const sum = 101334
        return sum.toLocaleString()
      },
      name () {
        const name = 'Sean'
        return name
      }
    },
    methods: {
      changeDrawer () {
        this.$emit('change')
      }
    }
  }
</script>

