<template>
  <v-navigation-drawer
    permanent
    clipped
    app
    :width="sidebarWidth">
    <v-toolbar flat>
      <v-icon class="mr-3">mdi-twitter</v-icon>
      <v-toolbar-title>Twitter</v-toolbar-title>
    </v-toolbar>

    <v-divider/>

    <v-list class="pt-0 pb-0">
      <v-list-group>
        <v-list-tile slot="activator">
          <v-list-tile-content>
            <v-list-tile-title>Settings</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-card flat>
          <v-card-text>
            <v-form>
              <v-text-field
                v-for="(item, index) in settings"
                :key="index"
                :class="item.class"
                :label="item.label"
                :append-icon="item.appendIcon"
                v-model="settingsForm[item.bindTo]"
              />
            </v-form>
          </v-card-text>
        </v-card>
      </v-list-group>
    </v-list>

    <v-list class="pt-0">
      <v-list-group>
        <v-list-tile slot="activator">
          <v-list-tile-content>
            <v-list-tile-title>Preview</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-card flat>
          <v-card-text>
            <v-form>
              <v-text-field
                v-for="(item, index) in preview"
                :key="index"
                :class="item.class"
                :label="item.label"
                :append-icon="item.appendIcon"
                v-model="previewForm[item.bindTo]"
              />
            </v-form>
          </v-card-text>
        </v-card>

        <v-list-tile>
          <v-checkbox
            label="Include 1"
            v-model="includeOne"
          />
          <v-checkbox
            label="Include 2"
            v-model="includeTwo"
          />
        </v-list-tile>
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  export default {
    data () {
      return {
        sidebarWidth: 280,
        includeOne: false,
        includeTwo: false,
        settings: [
          { class: 'pa-2 pl-3 pr-3', label: 'Image Name', appendIcon: '', bindTo: 'name' },
          { class: 'pa-2 pl-3 pr-3', label: 'W', appendIcon: '', bindTo: 'width' },
          { class: 'pa-2 pl-3 pr-3', label: 'H', appendIcon: '', bindTo: 'height' },
          { class: 'pa-2 pl-3 pr-3', label: 'First URL', appendIcon: 'mdi-puzzle', bindTo: 'firstURL' },
          { class: 'pa-2 pl-3 pr-3', label: 'Second URL', appendIcon: '', bindTo: 'secondURL' },
          { class: 'pa-2 pl-3 pr-3', label: 'Third URL', appendIcon: 'mdi-puzzle', bindTo: 'thirdURL' }
        ],
        preview: [
          { class: 'pa-2 pl-3 pr-3', label: 'Search', appendIcon: '', bindTo: 'search' },
          { class: 'pa-2 pl-3 pr-3', label: 'Segment', appendIcon: '', bindTo: 'segment' }
        ],
        settingsForm: {},
        previewForm: {}
      }
    }
  }
</script>
