<template>
  <v-navigation-drawer
    permanent
    right
    clipped
    app
    :width="sidebarWidth"
  >
    <v-toolbar
      flat
      fixed
      height="50"
      class="toolbar-layers"
    >
      <v-list>
        <v-list-tile>
          <v-icon>layers</v-icon>

          <v-list-tile-content class="ml-1">
            <v-list-tile-title class="title">
              Layers
            </v-list-tile-title>
          </v-list-tile-content>

          <v-spacer/>

          <v-btn icon small>
            <v-icon small>list</v-icon>
          </v-btn>

          <v-btn icon small>
            <v-icon small>delete</v-icon>
          </v-btn>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-divider></v-divider>
    <v-list class="layers-items">
      <v-list-tile
        v-for="layer in layers"
        :key="layer.id"
        @click="selectedLayer = layer"
        :style="selectedLayer == layer ? 'background-color: #e0e0e0;' : 'background-color: white;'"
        pa-0
      >
          <v-icon>list</v-icon>
          <v-icon class="ml-1 mr-2">mdi-format-font</v-icon>
          <v-list-tile-title>{{ !!layer.title ? layer.type + '-' + layer.title : layer.type }}</v-list-tile-title>
          <v-spacer/>
          <v-switch
            hide-details
            v-model="layer.isVisible"
          />
      </v-list-tile>
      <v-divider/>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import VListTileAction from 'vuetify/src/components/VList/VListTileAction'
export default {
  components: {VListTileAction},
  data() {
        return {
            sidebarWidth: 231,
            selectedLayer: {},
            layers: [
                {
                    id: 0,
                    type: 'Button',
                    title: '',
                    isVisible: true
                },
                {
                    id: 1,
                    type: 'Button',
                    title: 'ADD TO SOMETHING',
                    isVisible: true
                },
                {
                    id: 2,
                    type: 'Button',
                    title: '',
                    isVisible: true
                },
              {
                id: 3,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 4,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 5,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 6,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 7,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 8,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 9,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 10,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 11,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 12,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 13,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 14,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 15,
                type: 'Button',
                title: '',
                isVisible: true
              },
              {
                id: 16,
                type: 'Button',
                title: '',
                isVisible: true
              },
            ]
        }
    },
    created () {
        this.selectedLayer = this.layers[0]
    }
  }
</script>

<style>
  .toolbar-layers {
    max-width: 100%;
    border-left: 1px solid rgba(0,0,0,.12);
  }
  .layers-items {
    padding-top: 50px;
    overflow-y: scroll;
    height: calc(100vh - 102px);
  }
  .layers-items .v-list__tile {
    padding-right: 0;
  }
</style>

