<template>
  <v-app>
    <v-navigation-drawer
      absolute
      temporary
      v-model="drawer"
    >
      <v-list>
        <v-list-tile
          value="true"
          v-for="item in items"
          :key="item.id"
          v-ripple
          class="pointer"
        >
          <v-list-tile-action>
            <v-icon
              v-html="item.icon"
            />
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title
              v-text="item.title"
            />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <app-header
     @change="changeDrawer"
      ></app-header>
    <router-view/>
    <v-footer app :color="color" :height="height"></v-footer>
  </v-app>
</template>

<script>
  import settings from './appSettings'
  import AppHeader from './components/AppHeader'
  import AppLeftSidebar from './components/AppLeftSidebar'
  import AppRightSidebar from './components/AppRightSidebar'
  import AppToolbar from './components/AppToolbar/AppToolbar'

  export default {
    name: 'App',
    components: {
      AppHeader,
      AppLeftSidebar,
      AppRightSidebar,
      AppToolbar
    },
    data () {
      return {
        color: null,
        height: 'auto',
        drawer: false,
        items: [
          {
            id: 0,
            title: 'Home',
            icon: 'mdi-home'
          },
          {
            id: 1,
            title: 'New Image',
            icon: 'mdi-pencil'
          },
          {
            id: 2,
            title: 'Images',
            icon: 'mdi-image'
          },
          {
            id: 3,
            title: 'Log Out',
            icon: 'mdi-power-standby'
          }
        ]
      }
    },
    methods: {
      changeDrawer () {
        this.drawer = !this.drawer
      }
    },
    created () {
      this.color = settings.mainColor
    }
  }
</script>
<style>
  .pointer {
    cursor: pointer;
  }
</style>
